# python/pytorch lightning gitignore template
__pycache__/
lightning_logs/
wandb/
checkpoints/
train.sh.pdm-python
__pypackages__/
build/
*.lock
*.sh
.pdm-python
dist/
plots/
*.egg-info/
audio/
.pytest_cache/
.pdm-build/